body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
}

/*Estilizando o Texto Introdutório*/
.team-section{
    width: 100%;
}

.team-section .container{
    width: 80%;
    margin: auto;
}

.team-section .container .row{
    width: 60%;
    margin: auto;
}

.team-section .container .row .title{
    text-align: center;
    margin-top: 50px;
}

.team-section .container .row .title h1{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.team-section .container .row .title p{
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0px;
}

/*Dividindo e estilizando os 3 cards principais*/
.team-section .container .team-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    margin-top: 50px;
}

.team-section .container .team-card .card{
    width: 100%;
    background-color: #51614e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}

/*Animação caso passe o curso por cima*/
.team-section .container .team-card .card:hover{
    background-color: #b7d19f;
    transition: 0.4s;
    color: #51614e;
}

/*Estilizando as Imagens da Equipe*/ 
.image-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-section img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid #d5b741;
}

.image-section div{    
    margin: 0 10px;
}

h4 {
    text-align: center;
    margin-top: 10px;
    max-width: 150px;
}

/*Estilizando Cards Missão e App*/
.team-section .container .team-card .card .content{
    width: 100%;
    text-align: center;
}

.team-section .container .team-card .card .content h3{
    font-size: 2vw;
    max-width: 100%;
    margin-top: 0.1vw;
    letter-spacing: 1.5px;
    color: #d5b741;
}

.team-section .container .team-card .card .content p{
    font-size: 15px;
    margin: 16px 0px;
    line-height: 1.5;
    color: black;
}

h3{
    text-shadow: 2px 2px black;
}

p {
    font-weight: bold;
}

/*Tornando Responsivo - Tela Maior*/
@media screen and (max-width: 900px) {
    .team-section .container .team-card{

    grid-template-columns: repeat(2, 1fr);    
    }
}

/*Tornando Responsivo - Tela Menor*/
@media screen and (max-width: 768px) {
    .team-section .container .team-card{
 
    grid-template-columns: 1fr;    
    }
}
