
/*dividindo a div principal em dois lados*/
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  flex-wrap: wrap;

}

/*estilizando a div esquerda*/
.wrapper .left {
  width: 35%;
  background: linear-gradient(to right, #8aa373, #b7d19f);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-perfil {
 margin-top: -50px;
}

.wrapper .left img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.wrapper .left h4 {
  margin-bottom: 10px;
  margin-top: 2px;

}

.wrapper .left p {
  font-size: 12px;

}

/*estilizando a div direita geral (parte informações e projetos)*/
.wrapper .right {
  width: 65%;
  background: #51614e;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .data h4 {
  color: #f7f7f7;
  margin-bottom: 2px;
}

.wrapper .right .info_data .data p,
.wrapper .right .data p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #000000;  
}

/*estilizando as tags de redes sociais*/
.social_media ul li a:hover{
  background-color: #667a63;
  border-radius: 5px;
}

.wrapper .social_media ul {
  display: flex;
  flex-direction: column;

}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: #b7d19f;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
  display: flex;
  justify-content: center ;
}

.wrapper .social_media ul li a {
  color: #fff;
  font-size: 18px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

}

/*estilizando a foto*/
.preview-img {
  position: relative;
}

.icone {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 15px;
  right: 7px;
  background-color: #51614e;
}

/*Tornando Responsivo - Tela Maior*/
@media screen and (max-width: 900px) {
  .wrapper .left .right{

  grid-template-columns: repeat(2, 1fr);    
  }
}

/*Tornando Responsivo - Tela Menor*/
@media screen and (max-width: 768px) {
  .wrapper .left .right{

  grid-template-columns: 1fr;    
  }
}
